---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import { Image } from 'astro:assets';


export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map(post => ({
        params: {slug: post.id},
        props: {posts}
    }));
}

type Props = {
    post: CollectionEntry<"blog">
}

const {post} = Astro.props
const {Content} = await render(post)
---

<Layout title={post.data.title}>
	<Main>
		<H1 text={post.data.title}></H1>
        <Image
            src={post.data.image}
            width={600}
            height={600 / 1.5}
            alt={post.data.title}
            class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
        <div class="prose overflow-visible relative mb-20">
            <Content />
        </div>
	</Main>
</Layout>